<div class="container-fluid">
  <div class="jumbotron jumbotron-fluid custom-header">
    <div class="container">
      <div class='col-lg-8 offset-lg-2'>
        <h1 class="display-2 master-font">The Master Mind Game v1.0</h1>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-6 offset-md-3'>
      <%= link_to 'NEW GAME', new_user_path, class: 'btn btn-danger btn-lg btn-block', id: 'game_btn' %>
    </div>
  </div>


  <% if @best_games.size > 1 %>
  <div class='col-md-4 mt-4'>
    <h1 class="master-font">LeaderBoard</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Player</th>
          <th scope="col">Difficulty</th>
          <th scope="col">Attempts</th>
        </tr>
      </thead>

      <tbody>
        <% @best_games.each do |game| %>
          <tr>
            <th scope="row"><%= game.user.name %></th>
            <td><%= @difficulty[game.difficulty] %></td>
            <td><%= 10 - game.attempts_remaining %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <% end %>
</div>
<%= audio_tag("sonic1.wav", id: "audio_src") %>
<%= audio_tag("click1.wav", id: "bubble_sound") %>
<%= javascript_pack_tag 'game_audio' %>
