<!DOCTYPE html>
<html>
  <head>
    <title>MasterMindGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One|Roboto|VT323&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice.present? %>
      <p class="alert alert-primary"><%= flash.now[:notice] %></p>
    <% elsif alert.present? %>
      <p class="alert alert-danger"><%= flash.now[:alert] %></p>
    <% end %>
    <%= yield %>
  </body>
</html>
